@model NWacksPortfolio.Models.CryptoCurrencyModel

@{
    ViewBag.Title = "D3CryptoTracker";
}
@section Scripts
{
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="~/Scripts/Home/D3CryptoScript.js"></script>
}

<input type="hidden" id="cryptoData" value="@Model.CryptoData" />

<div class="container">
    <div class="jumbotron">
        <h2>D3CryptoTracker</h2>
    </div>

    <div class="row">
        
    </div>
</div>

