@{
    ViewBag.Title = "Home Page";
}

@section Scripts
{
    <script src="~/Scripts/Home/IndexScript.js"></script>
}

<div class="jumbotron">
    <h1>Nicholas Wacks</h1>
    <h2>Professional Programmer</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Résumé</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Technical Demo</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>External Links</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867" target="_blank">Source Code &raquo;</a></p>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867" target="_blank">Blog &raquo;</a></p>
    </div>
</div>