@{
    ViewBag.Title = "Home Page";
}

@section Scripts
{
    <script src="~/Scripts/Home/IndexScript.js"></script>
}

<div class="jumbotron">
    <h1>Nicholas Wacks</h1>
    <h2>Professional Programmer</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Technical Demo</h2>
        <p>
            Single page demo that takes current market data of various crypto currencies (i.e. Bitcoin), and displays
            them using D3.js graphs, an Angular.js table, and tiles made by Underscore.js' templates.
        </p>
        <p><a class="btn btn-default" href="/Home/CryptoCurrencyDemo">Check it out &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Résumé</h2>
        <p>
            Up-to-date copy of my résumé, sans address and contact information for privacy and security reasons.
        </p>
        <p><a class="btn btn-default" href="~/Documents/Nicholas_Wacks_Resume.pdf" target="_blank">View it here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>External Links</h2>
        <p>
            <a href="https://www.linkedin.com/in/nicholas-wacks-92478558/" target="_blank">
                <i class="fa fa-linkedin-square"></i> LinkedIn
            </a>
        </p>
        <p>
            <a href="https://github.com/nicholas-wacks" target="_blank">
                <i class="fa fa-github"></i> Github Account
            </a>
        </p>
        <p>
            <a href="https://github.com/nicholas-wacks/NWacks-Portfolio" target="_blank">
                <i class="fa fa-github"></i> Source Code for this site
            </a>
        </p>
        <p>
            <a href="http://www.saintsandsyntaxerrors.com/" target="_blank">
                <i class="fa fa-wordpress"></i> Technical Blog
            </a>
        </p>
    </div>
</div>