
@{
    ViewBag.Title = "Résumé";
}

<h2>Resume</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Work Experience</h2>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title pull-left">
                    Young Life
                </div>
                <div class="panel-title pull-right">
                    September 2016 – Present
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title pull-left">
                    Outreach, Inc.
                </div>
                <div class="panel-title pull-right">
                    June 2015 – August 2016
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>