.current-value-graph {
    div {
        font: 12px;
        background-color: #4682b4;
        text-align: right;
        padding: 5px;
        margin: 1px;
        color: white;
        transition: all 0.25s;

        span {
            visibility: hidden;
            color: #fff;
            text-align: center;
            border-radius: 4px;
            padding: 10px;
            background-color: rgba(0,0,0,0.75);
            position: absolute;
            margin: -5px 0 0 10px;
            z-index: 1;
            box-shadow: 0 0 5px #999999;
        }
    }

    div:hover {
        padding: 10px;
        span {
            visibility: visible;
        }
    }

    padding: 5px;
    background-color: #dae6f0;
    border: 1px solid #192f41;
}

.market-cap-pie-chart {
    padding: 5px;
    background-color: #dae6f0;
    border: 1px solid #192f41;
    width: 100%;

    svg {
        display: block;
        margin: auto;
    }

    .pie-tooltip {
        font: 12px;
        display: none;
        padding: 10px;
        position: absolute;
        text-align: center;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        padding: 5px;
        background-color: rgba(0,0,0,0.75);
        z-index: 1;
        box-shadow: 0 0 5px #999999;
    }
}

.clickable {
    cursor: pointer;
}

.underscore-card {
    width: 240px;
    display: inline-block;
    padding: 10px;
    margin: 0 10px 10px 0;
    border: 1px solid #4682b4;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    .card-head {
        position: relative;
        bottom: 10px;
        background-color: #4682b4;
        color: white;
        padding: 5px;
        left: -10px;
        width: 238px;
    }
}

.underscore-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}